<div class="row">
	<div class="col-md-4">
		<h1>TechBlog 2.0</h1>
	</div>
	<div class="col-md-8">
		<% if logged_in? %>
			<div class="pull-right top-buffer">
				<span class="right-buffer">Welcome, <%= get_user_name %></span>
				<%= link_to "Logout", logout_path, class: "btn btn-danger" %>
			</div>
		<% else %>
			<div class="pull-right">
					<%= form_tag('/sessions', method: :create, class: "form-inline") do %>
						<div class="form-group top-buffer">
							<%= text_field_tag :email, "", class: "form-control", placeholder: "Email" %>
							<%= text_field_tag :password, "", class: "form-control", placeholder: "Password" %>
				    	<%= submit_tag "Login", class: "btn btn-primary" %>
						</div>
					<% end %>
			</div>
		<% end %>
	</div>
</div>
<hr>